.form-search {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 90%;
    border-bottom: 2px solid #e4e4e4;
    margin: 15px auto;
}

.form-search__input {
    outline: 0;
    border: 0;
    font-size: 2.2rem;
    margin-right: 5px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}