
::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  background-color:#20202a;
}

.background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pointer {
  cursor: pointer;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.1;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

.icon {
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
}